<html xmlns:th="http://www.thymeleaf.org">

<div class="art-discuss" th:fragment="copy">
    <div class="art-d-span">
        <span class="">评论</span>
    </div>
    <span style="display:none" id="commid">0</span>
    <div id="notice"></div>
    <form class="layui-form"  action="">
        <div class="art-form">
            <div class="art-form-inp">
                <input type="text" name="comt" required lay-verify="required" id="comt"
                       autocomplete="off" class="layui-input" placeholder="输入评论...">
            </div>
            <div class="art-form-btn">
                <button class="layui-btn" lay-submit lay-filter="formDemo">评论</button>
            </div>
        </div>
    </form>
    <div class="pinlun-qu">
        <ul id="comul">
            <li class="li-item" th:each="a:${pageInfo.list}">
                <div class="li-item-header">
                    <div class="li-item-left">
                        <a href="">
                            <img th:src="@{/img/logo.jpg}" class="li-avatar">
                        </a>
                    </div>
                    <div class="li-item-center">
                        <h5 class="li-title">
                            <a th:text="${a.userName}"></a>
                            <span class="art-meta-item" th:text="${a.createTime}"></span>
                        </h5>
                        <div class="art-reply" th:if="${a.parent} ne null">
                            <blockquote class="layui-elem-quote layui-quote-nm art-yin">
                                <div>
                                    <img th:src="@{/img/logo.jpg}" class="art-yin-img">
                                    <span th:text="${a.parent.userName}"></span>
                                    <span class="art-meta-item" th:text="${a.parent.createTime}"></span>
                                </div>
                                <div>
                                    <p th:text="${a.parent.content}"></p>
                                </div>
                            </blockquote>
                        </div>
                        <div class="ping-p">
                            <p th:text="${a.content}"></p>
                        </div>
                    </div>
                    <div class="li-item-right">
                        <a href="#" onclick="jump(this)">
                            <span style="display:none" th:text="${a.commentId}"></span>
                            <span class="meta-item-type">回复</span>
                        </a>
                    </div>
                </div>
            </li>
            <div id="paginator"></div>
        </ul>
    </div>
</div>