<html xmlns:th="http://www.thymeleaf.org">

<ul class="padd layui-nav" th:fragment="copy">
    <li class="layui-nav-item"  layui-this><a href="/home">社区</a></li>
    <li class="layui-nav-item">
        <a href="javascript:;">电影</a>
        <dl class="layui-nav-child">
            <dd><a href="/movie/coming">即将上映</a></dd>
            <dd><a href="/movie/top">高分电影</a></dd>
            <dd><a href="/movie/usbox">北美票房</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">音乐</a>
        <dl class="layui-nav-child">
            <dd><a href="/music/search">豆瓣搜索</a></dd>
            <dd><a href="/music/rank">歌曲榜单</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="/game/list">游戏</a></li>
    <div class="right-li">
        <a href="/message/notice" style="color: #fbfbfb;">
            <i class="layui-icon layui-icon-notice"></i>
        </a>
        <li class="layui-nav-item" lay-unselect="">
            <a href="javascript:;"><img th:src="${user.portrait}" class="layui-nav-img" id="myimg">我</a>
            <dl class="layui-nav-child">
                <dd><a href="/user/setting">编辑资料</a></dd>
                <dd><a href="javascript:;">修改密码</a></dd>
                <dd><a href="javascript:;">退出登录</a></dd>
            </dl>
        </li>
    </div>
</ul>