<html xmlns:th="http://www.thymeleaf.org">

<div class="right-container" th:fragment="copy">
    <div >
        <button class="layui-btn ait-sub" lay-submit lay-filter="formDemo">发表文章</button>
    </div>
    <div class="right-div-ul">
        <ul>
            <li>
                <a href="#">
                    <i class="layui-icon layui-icon-user"></i>
                    <span>我的关注</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="layui-icon layui-icon-rate"></i>
                    <span>我的收藏</span>
                </a>
            </li>
        </ul>
    </div>
</div>