<html xmlns:th="http://www.thymeleaf.org">

<div class="right-container" th:fragment="copy">
    <div >
        <a href="/articles/create">
            <button class="layui-btn ait-sub">发表文章</button>
        </a>
    </div>
    <div class="right-div-ul">
        <ul>
            <li>
                <a href="/user/mycollect">
                    <i class="layui-icon layui-icon-rate"></i>
                    <span>我的收藏</span>
                </a>
            </li>
            <li>
                <a href="/user/myArticle">
                    <i class="layui-icon layui-icon-read"></i>
                    <span>我的文章</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="right-div-ul">
        <ul>
            <li class="li-item">
                <i class="layui-icon layui-icon-user"></i>
                <span>我的关注</span>
            </li>
        </ul>
        <div class="div-pd-lf" style="padding-left: 10px;">
            <span  th:each="i:${inter}">
                <a th:href="'/user/blog?id=' + ${i.userId}">
                    <img th:src="${i.portrait}" th:title="${i.nickname}">
                </a>
            </span>
        </div>
    </div>
</div>