<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <title>游戏列表</title>
    <meta name="referrer" content="never">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/home.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/right.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/toastr.min.css}" media="all">
    <style type="text/css">
        .game-lists {
            flex: 1;
            margin-left: 40px;
            position: relative;
        }

        .game-item {
            display: flex;
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid #f2f2f2;
        }

        .game-img-size {
            width: 100px;
            height: 150px;
        }

        .intro {
            margin-left: 15px;
        }
    </style>
</head>
<body>
<ul th:replace="common/header::copy"></ul>
<div class="container">
    <div class="main-container">
        <div class="left-container">
            <div class="layui-card">
                <div class="layui-card-header">
                    <span>游戏</span>
                </div>
                <div class="layui-card-body">
                    <div class="game-lists">
                        <div class="game-item" th:each="game:${pageInfo.list}">
                            <a th:href="'/game/info?id='+${game.id}">
                                <img th:src="${game.imgurl}" class="game-img-size">
                            </a>
                            <div class="intro">
                                <ul class="ul-top">
                                    <li class="li-item">
                                        <h3>
                                            <a th:href="'/game/info?id='+${game.id}" th:text="${game.title}"></a>
                                        </h3>
                                    </li>
                                    <li class="li-item">
                                        <span th:text="${game.type}"></span>&nbsp;
                                        <span th:text="${game.platforms}"></span>
                                    </li>
                                    <li class="li-item">
                                        <span>游戏评分：</span>
                                        <span th:text="${game.avg}"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="paginator"></div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="common/right::copy">
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/toastr.min.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/connect.js}"></script>
<script th:inline="javascript">
    var userId = [[${user.userId}]]
    window.onload = connect(userId);
    layui.use('element', function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

        //监听导航点击
        element.on('nav(demo)', function (elem) {
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
    layui.use('laypage', function () {
        var laypage = layui.laypage;
        var haspre = [[${pageInfo.hasPreviousPage}]];
        var hasnext = [[${pageInfo.hasNextPage}]];
        laypage.render({
            elem: 'paginator',
            count: [[${pageInfo.total}]],
            curr: [[${pageInfo.pageNum}]],
            jump: function (obj, first) {
                if (!first) {
                    window.location.href = "/game/list?pageNum=" + obj.curr
                }
            }
        });
    });
</script>
</body>
</html>
