<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
  <meta charset="utf-8">
  <title>Layui</title>
  <meta name="referrer" content="never">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
  <link rel="stylesheet" th:href="@{/css/home.css}"  media="all">
  <link rel="stylesheet" th:href="@{/css/index2.css}">
  <link rel="stylesheet" th:href="@{/css/right.css}">
  <style type="text/css">

  </style>
</head>
<body>
<ul th:replace="common/header::copy"></ul>
<div class="container">
  <div class="main-container">
    <div class="left-container">
      <div class="layui-card">
        <div class="layui-card-header">
          <span>电影 / 音乐搜索</span>
        </div>
        <div class="layui-card-body">
          <div class="search">
              <div class="search-main">
                <div class="logo-left">
                  <img th:src="@{/img/lg_music_a12_2.png}" height="27" width="115" alt="">
                </div>
                <div class="logo-input">
                  <form action="">
                    <input type="text" class="inp">
                    <div class="sbtn">
                      <input type="bottm"  class="btn">
                    </div>
                  </form>
                </div>
              </div>
          </div>
          <div class="content">
            <h1>搜索</h1>
            <ul class="content-boxers">
            </ul>
            <div id="div1">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div th:replace="common/right::copy">
  </div>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:inline="javascript">
  window.key=[[${value}]];
  window.start=[[${start}]];
</script>
<script th:src="@{/js/demo2.js}"></script>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script>
layui.use('element', function(){
  var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块
  
  //监听导航点击
  element.on('nav(demo)', function(elem){
    //console.log(elem)
    layer.msg(elem.text());
  });
});
</script>

</body>
</html>
