<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <title>文章详情</title>
    <meta name="referrer" content="never">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/home.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/right.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/comment.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/toastr.min.css}" media="all">
    <style type="text/css">
        .art-t-header {
            height: auto;
            padding: 20px 0 10px 20px
        }

        .art-t-span {
            color: #adb1af;
        }

        .zan-collect {
            margin-top: 30px;
        }

        .art-count {
            font-size: 12px;
            color: #fff;
            background: #aab0c6;
            padding: 2px 10px;
            border-radius: 6px;
            font-weight: 700;
            margin-right: 30px;
        }

        .span-pointer {
            cursor: pointer;
        }

        .ed {
            background-color: #74ca46
        }

        .none {
            display: none;
        }

    </style>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        var art = [[${article.content}]];
        $(document).ready(function () {
            $('#article').html(art);
            var zan = [[${zan}]];
            var store = [[${store}]];
            if (zan == 1) {
                $('#zannum').addClass('ed');
            }
            if (store == 1) {
                $('#storenum').addClass('ed');
            }
        })
    </script>
</head>
<body>
<
<ul th:replace="common/header::copy"></ul>
<div class="container">
    <div class="main-container">
        <div class="left-container">
            <div class="layui-card">
                <div class="high layui-card-header art-t-header" style="height: auto;">
                    <div>
                        <h2 th:text="${article.title}"></h2>
                    </div>
                    <div>
                        <span class="art-t-span">发布于</span>
                        <span class="art-t-span" th:text="${article.createTime}"></span>
                        <span class="art-t-span">&nbsp/&nbsp 更新于</span>
                        <span class="art-t-span" th:text="${article.updateTime}"></span>
                    </div>
                </div>
                <div class="layui-card-body">
                    <div id="article"></div>
                    <div class="zan-collect">
                        <span class="none" th:text="${zan}"></span>
                        <span class="span-pointer" onclick="zan(this)">
                            <img th:src="@{/img/zan.svg}">
                        </span>
                        <span class="art-count" th:text="${article.zan}" id="zannum"></span>
                        <span class="none" th:text="${store}"></span>
                        <span class="span-pointer" onclick="collect(this)">
                            <img th:src="@{/img/collect.svg}">
                        </span>
                        <span class="art-count" th:text="${article.store}" id="storenum"></span>
                    </div>
                </div>
            </div>
            <div th:replace="common/comment::copy"></div>
        </div>
        <div th:replace="common/right::copy">
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/toastr.min.js}"></script>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/comment.js}"></script>
<script th:src="@{/js/connect.js}"></script>
<script th:inline="javascript">
    var userId = [[${user.userId}]]
    window.onload = connect(userId);
    var commentId = 0;
    layui.use('element', function () {
        var element = layui.element;
        element.on('nav(demo)', function (elem) {
            layer.msg(elem.text());
        });
    });

    layui.use('laypage', function () {
        var laypage = layui.laypage;
        var id = [[${article.invitationId}]];
        laypage.render({
            elem: 'paginator',
            limit: 20,
            count: [[${pageInfo.total}]],
            curr: [[${pageInfo.pageNum}]],
            jump: function (obj, first) {
                if (!first) {
                    window.location.href = "/articles/info?id=" + id + "&pageNum=" + obj.curr
                }
            }
        });
    });

    layui.use('form', function () {
        var form = layui.form;

        var invitationId = [[${article.invitationId}]];
        form.on('submit(formDemo)', function (data) {
            var content = data['field']['comt'];
            var fdata = {
                content: content,
                commentId: commentId,
                invitationId: invitationId
            }
            $.ajax({
                url: "/comment/submit",
                type: "POST",
                dataType: "json",
                data: fdata,
                success: function (result) {
                    cancel();
                    if (result.code == 0) {
                        layer.msg('评论成功！');
                        appendli(result);
                    } else {
                        console.log(result);
                        layer.msg(result.msg);
                    }
                }
            })
            return false;
        });
    });

    function zan(elem) {
        var id = [[${article.invitationId}]];
        var flag = $(elem).prev('span').text();
        var val = $(elem).next('span').text();

        $.ajax({
            url: "/articles/zan",
            type: "POST",
            dataType: "json",
            data: "id=" + id + "&flag=" + flag,
            success: function (result) {
                if (result.code == 0) {
                    if (flag == 0) {
                        layer.msg("点赞成功")
                        $(elem).next('span').addClass('ed');
                        $(elem).prev('span').text(1);
                        $(elem).next('span').text(parseInt(val) + 1);
                    } else {
                        layer.msg("取消点赞");
                        $(elem).next('span').removeClass('ed');
                        $(elem).prev('span').text(0);
                        $(elem).next('span').text(parseInt(val) - 1);
                    }
                } else {
                    layer.msg(result.msg);
                }
            }
        });
    }

    function collect(elem) {
        var id = [[${article.invitationId}]];
        var flag = $(elem).prev('span').text();
        var val = $(elem).next('span').text();

        $.ajax({
            url: "/articles/store",
            type: "POST",
            dataType: "json",
            data: "id=" + id + "&flag=" + flag,
            success: function (result) {
                if (result.code == 0) {
                    if (flag == 0) {
                        layer.msg("收藏成功");
                        $(elem).next('span').addClass('ed');
                        $(elem).prev('span').text(1);
                        $(elem).next('span').text(parseInt(val) + 1);
                    } else {
                        layer.msg("取消收藏");
                        $(elem).next('span').removeClass('ed');
                        $(elem).prev('span').text(0);
                        $(elem).next('span').text(parseInt(val) - 1);
                    }
                } else {
                    layer.msg(result.msg);
                }
            }
        });
    }
</script>

</body>
</html>