<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <title>编辑文章</title>
    <meta name="referrer" content="never">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_997556_w8c5a94mrz.css" />
    <link rel="stylesheet" th:href="@{/css/wangEditor1.css}">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/home.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/right.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/toastr.min.css}" media="all">
    <style type="text/css">
        .edit.layui-input-block {
            margin-left: 10px;
        }

        .inline-long1 {
            width: 620px;
        }

        .inline-long2 {
            width: 105px;
            margin: 0
        }

        .mar-top {
            margin-top: 15px;
        }
    </style>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:inline="javascript">
        var art = [[${article.content}]];
        var type = [[${article.type}]];
        $(document).ready(function () {
            $('#type').find("option").eq(type).prop("selected", true)
            $('#edit').html(art);
        })
    </script>
</head>
<body>
<ul th:replace="common/header::copy"></ul>
<div class="container">
    <div class="main-container">
        <div class="left-container">
            <div class="layui-card">
                <div class="layui-card-header">
                    <span>发布帖子</span>
                </div>
                <div class="layui-card-body">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <div class="edit layui-input-block layui-inline inline-long1">
                                <input type="text" id="title" required lay-verify="required" autocomplete="off"
                                       class="layui-input"
                                       th:value="${article.title}">
                            </div>
                            <div class="edit layui-input-block layui-inline inline-long2">
                                <select name="type" lay-verify="required" id="type">
                                    <option value=""></option>
                                    <option value="1">交流</option>
                                    <option value="2">电影说</option>
                                    <option value="3">音乐说</option>
                                    <option value="4">游戏说</option>
                                    <option value="5">其他</option>
                                </select>
                            </div>
                        </div>
                        <div id="edit">
                        </div>
                        <div class="layui-form-item">
                            <div class="edit layui-input-block mar-top">
                                <button class="layui-btn" lay-submit lay-filter="formDemo" id="btn1">立即提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div th:replace="common/right::copy">
        </div>
    </div>
</div>
</body>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/toastr.min.js}"></script>
<script th:src="@{/js/wangEditor1.js}"></script>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/connect.js}"></script>
<script th:inline="javascript">
    var userId = [[${user.userId}]]
    window.onload = connect(userId);
    layui.use('element', function () {
        var element = layui.element;

        element.on('nav(demo)', function (elem) {
            layer.msg(elem.text());
        });
    });
    layui.use('form', function () {
        var form = layui.form;
        var layer = layui.layer;
        var id = [[${article.invitationId}]];
        form.on('submit(formDemo)', function (data) {
            var invitation = {
                title: $("#title").val(),
                type: $("#type").val(),
                content: editor.txt.html()
            }
            $.ajax({
                url: "/articles/update?id=" + id,
                type: "POST",
                contentType: "application/x-www-form-urlencoded",
                data: invitation,
                success: function (result) {
                    console.log(result);
                    if (result.code == 0) {
                        layer.msg('文章修改成功！', {
                            icon: 1,
                            time: 2000
                        }, function () {
                            window.location.href = "/articles/info?id=" + id;
                        });
                    } else {
                        layer.msg(result.msg);
                    }
                },
                error: function () {
                    console.log("请求失败");
                }
            });
            return false;
        });
        form.render();
    });

    var editor
    $(document).ready(function () {
        var E = window.wangEditor
        editor = new E('#edit')
        var server = '/user/uploadImg'
        function customInsert(insertImg, result, editor) {
            var url = result.data;
            insertImg(url);
        }

        let customConfig = {
            showLinkImg:false,
            uploadImgServer:server,
            uploadFileName:'file',
            zIndex:1, //编辑器层级，层级过高会导致悬浮与页面之上
            uploadImgShowBase64:true,
            uploadVedioServer:server,
            uploadAudioServer:server,
            uploadImgMaxSize:5 * 1024 * 1024,
            uploadImgMaxLength:5,
            pasteText:false,
            pasteFilterStyle:false,
            pasteIgnoreImg:false, //粘贴别的文档的时候，是否忽略图片，false不忽略
            uploadImgHooks:{
                customInsert
            },
            uploadVedioHooks:{
                customInsert
            },
            uploadAudioHooks:{
                customInsert
            }
        };
        editor.customConfig = customConfig;
        editor.create()
    })


</script>
</html>
