<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="referrer" content="never">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
    <link rel="stylesheet" th:href="@{/css/home.css}"  media="all">
    <link rel="stylesheet" th:href="@{/css/right.css}"  media="all">
    <link rel="stylesheet" th:href="@{/css/comment.css}"  media="all">
    <style type="text/css">
        .m-title{
            width: 70%;
            margin: 0 auto;
            padding-bottom: 20px;
        }
        .movie-soon{
            display: flex;
            flex: 1;
            margin: 0 auto;
            position: relative;
            width: 70%;
            border-bottom: 1px solid #f2f2f2;
        }
        .movie-soon-left {
            display: flex;
            width: 80%;
        }
        .intro {
            margin-left: 15px;
        }
        .info-img-size {
            width: 140px;
            height: 190px;
        }
        .li-padd {
            padding: 3px 0 4px 8px;
        }
        .brief{
            width: 70%;
            margin: 0 auto;
            padding-top: 40px;
        }
        .p-indent {
            text-indent: 2em;
            margin-top: 15px;
        }
        .photos{
            display: flex;
            width: 70%;
            margin: 0 auto;
            padding-top: 40px;
        }
        .per-photo{
            width: 95px;
            height: 130px;
            margin-right: 40px;
        }
        .per-name {
            position: absolute;
            width: 95px;
            text-align:center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    </style>
</head>
<body>
<ul class="padd layui-nav">
    <li class="layui-nav-item"><a href="home.html">社区</a></li>
    <li class="layui-nav-item layui-this">
        <a href="javascript:;">电影</a>
        <dl class="layui-nav-child">
            <dd><a href="">即将上映</a></dd>
            <dd><a href="">高分电影</a></dd>
            <dd><a href="">北美票房</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">音乐</a>
        <dl class="layui-nav-child">
            <dd><a href="">经典老歌</a></dd>
            <dd><a href="">新歌榜单</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item"><a href="">游戏</a></li>
    <div class="right-li">
        <i class="layui-icon layui-icon-notice"></i>
        <li class="layui-nav-item" lay-unselect="">
            <a href="javascript:;"><img th:src="@{/img/logo.jpg}" class="layui-nav-img">我</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">修改信息</a></dd>
                <dd><a href="javascript:;">安全管理</a></dd>
                <dd><a href="javascript:;">退了</a></dd>
            </dl>
        </li>
    </div>
</ul>
<div class="container">
    <div class="main-container">
        <div class="left-container">
            <div class="layui-card">
                <div class="layui-card-header">
                    <span>电影 / 电影详情</span>
                </div>
                <div class="layui-card-body">
                    <div class="m-title">
                        <h1>
                            <span th:text="${movie.title}">title</span>
                            <span th:text="'('+${movie.year}+')'"></span>
                        </h1>
                    </div>
                    <div class="movie-soon">
                        <div class="movie-soon-left">
                            <a href="">
                                <img th:src="${movie.img}" class="info-img-size">
                            </a>
                            <div class="intro">
                                <ul>
                                    <li class="li-item li-padd">
                                        <span>导演：</span>
                                        <span th:text="${movie.directors}"></span>
                                    </li>
                                    <li class="li-item li-padd">
                                        <span>编剧：</span>
                                        <span th:text="${movie.writers}"></span>
                                    </li>
                                    <li class="li-item li-padd">
                                        <span>主演：</span>
                                        <span th:text="${movie.castsNames}"></span>
                                    </li>
                                    <li class="li-item li-padd">
                                        <span>类型：</span>
                                        <span th:text="${movie.genres}"></span>
                                    </li>
                                    <li class="li-item li-padd">
                                        <span>上映时间：</span>
                                        <span th:text="${movie.pubdates}"></span>
                                    </li>
                                    <li class="li-item li-padd">
                                        <span>豆瓣评分：</span>
                                        <span th:text="${movie.avg}"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="brief">
                        <h2>剧情简介</h2>
                        <p class="p-indent" th:text="${movie.summary}"></p>
                    </div>
                    <div class="brief">
                        <h2>相关演员</h2>
                    </div>
                    <div class="photos">
                        <div th:each="p:${movie.casts}">
                            <img th:src="${p.avatars.get('small')}" class="per-photo">
                            <a href="#" th:title="${p.name}">
                                <span th:text="${p.name}" class="per-name"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="art-discuss">
                <div class="art-d-span">
                    <span class="">评论</span>
                </div>
                <span style="display:none" id="commid">0</span>
                <div id="notice"></div>
                <form class="layui-form"  action="">
                    <div class="art-form">
                        <div class="art-form-inp">
                            <input type="text" name="comt" required lay-verify="required" id="comt"
                                   autocomplete="off" class="layui-input" placeholder="输入评论...">
                        </div>
                        <div class="art-form-btn">
                            <button class="layui-btn" lay-submit lay-filter="formDemo">评论</button>
                        </div>
                    </div>
                </form>
                <div class="pinlun-qu">
                    <ul id="comul">
                        <li class="li-item" th:each="a:${pageInfo.list}">
                            <div class="li-item-header">
                                <div class="li-item-left">
                                    <a href="">
                                        <img th:src="@{/img/logo.jpg}" class="li-avatar">
                                    </a>
                                </div>
                                <div class="li-item-center">
                                    <h5 class="li-title">
                                        <a th:text="${a.userName}"></a>
                                        <span class="art-meta-item" th:text="${a.createTime}"></span>
                                    </h5>
                                    <div class="art-reply" th:if="${a.parent} ne null">
                                        <blockquote class="layui-elem-quote layui-quote-nm art-yin">
                                            <div>
                                                <img th:src="@{/img/logo.jpg}" class="art-yin-img">
                                                <span th:text="${a.parent.userName}"></span>
                                                <span class="art-meta-item" th:text="${a.parent.createTime}"></span>
                                            </div>
                                            <div>
                                                <p th:text="${a.parent.content}"></p>
                                            </div>
                                        </blockquote>
                                    </div>
                                    <div class="ping-p">
                                        <p th:text="${a.content}"></p>
                                    </div>
                                </div>
                                <div class="li-item-right">
                                    <a href="#" onclick="jump(this)">
                                        <span style="display:none" th:text="${a.commentId}"></span>
                                        <span class="meta-item-type">回复</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <div id="paginator"></div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right-container">
            <div >
                <button class="layui-btn ait-sub" lay-submit lay-filter="formDemo">发表文章</button>
            </div>
            <div class="right-div-ul">
                <ul>
                    <li>
                        <a href="#">
                            <i class="layui-icon layui-icon-user"></i>
                            <span>我的关注</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="layui-icon layui-icon-rate"></i>
                            <span>我的收藏</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/comment.js}"></script>
<script th:inline="javascript">
    var commentId = 0;
    layui.use('element', function(){
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

        //监听导航点击
        element.on('nav(demo)', function(elem){
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
    layui.use('laypage', function(){
        var laypage = layui.laypage;
        var id = [[${game.id}]];

        laypage.render({
            elem: 'paginator',
            limit: 20,
            count: [[${pageInfo.total}]],
            curr: [[${pageInfo.pageNum}]],
            jump: function(obj, first){
                if(!first){
                    window.location.href="/game/info?id=" + id + "&pageNum=" + obj.curr
                }
            }
        });
    });

    layui.use('form', function () {
        var form = layui.form;
        var gameId = [[${game.id}]];
        form.on('submit(formDemo)', function(data){
            var content = data['field']['comt'];
            var fdata = {
                content:content,
                disId: commentId,
                gameId:gameId
            }
            $.ajax({
                url:"/game/submit",
                type:"POST",
                dataType: "json",
                data: fdata,
                success: function(result){
                    cancel();
                    if (result.code == 0) {
                        layer.msg('评论成功！');
                        appendli(result);
                    } else {
                        console.log(result);
                        layer.msg(result.msg);
                    }
                }
            })
            return false;
        });
    });
</script>

</body>
</html>
