<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <title>通知</title>
    <meta name="referrer" content="never">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/home.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/right.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/toastr.min.css}" media="all">
    <style type="text/css">
        .blog-title {
            font-size: 30px;
            color: #1E9FFF;
            margin-right: 20px;
        }

        .high-title {
            line-height: 80px;
            height: 80px;
            border-color: #c0c4cc
        }

        .user-card {
            width: 210px;
            background-color: #fff;
        }

        .pname {
            margin: 0 auto;
        }

        .left-p {
            width: 60px;
            height: 60px;
            margin: 0 auto;
            border-radius: 0.5;
        }

        .right-name {
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
        }

        .btn-padd {
            padding: 0 30px;
        }

        .op-right {
            float: right;
            cursor: pointer;
        }

        .right-option {
            font-size: 12px;
            margin-right: 8px;
            color: blue;
        }
    </style>
</head>
<body>
<ul th:replace="common/header::copy"></ul>
<div class="container">
    <div class="main-container">
        <div class="left-container">
            <div class="layui-card">
                <div class="layui-card-header high-title">
                    <h2>
                        <p>
                            <i class="layui-icon layui-icon-email blog-title"></i>
                            <span>我的私信</span>
                        </p>
                    </h2>
                </div>
                <div class="layui-card-body">
                    <ul>
                        <li class="li-item" th:each="p:${pageInfo.list}">
                            <div class="li-item-header">
                                <div class="li-item-left">
                                    <a th:href="'/user/blog?id=' + ${p.senderId}">
                                        <img th:src="${p.userImg}" class="li-avatar">
                                    </a>
                                </div>
                                <div class="li-item-center">
                                    <span class="meta-item" th:text="${p.userName}"></span>
                                    <span class="meta-item red-point" th:text="${#dates.format(p.createTime,'yyyy-MM-dd HH:mm:ss')}"
                                          th:if="${p.status} eq '0'"></span>
                                    <span class="meta-item" th:text="${#dates.format(p.createTime,'yyyy-MM-dd HH:mm:ss')}" th:if="${p.status} eq '1'"></span>
                                    <span class="none" th:text="${p.messageId}"></span>
                                    <span class="op-right">
                                        <a class="right-option" href="#" onclick="read(this)">标记已读</a>
                                        <a class="right-option" th:href="'/user/tochat?id=' + ${p.senderId}">回复</a>
                                        <a class="right-option" href="#" onclick="deleteM(this)">删除</a>
                                    </span>
                                    <div class="li-meta">
                                        <span class="meta-item" th:text="${p.content}"></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div id="paginator"></div>
                </div>
            </div>
        </div>
        <div th:replace="common/right::copy">
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/toastr.min.js}"></script>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/connect.js}"></script>
<script th:inline="javascript">
    var userId = [[${user.userId}]]
    window.onload = connect(userId);
    layui.use('element', function () {
        var element = layui.element;
        element.on('nav(demo)', function (elem) {
            layer.msg(elem.text());
        });
    });
    layui.use('laypage', function () {
        var laypage = layui.laypage;
        laypage.render({
            elem: 'paginator',
            limit: 20,
            count: [[${pageInfo.total}]],
            curr: [[${pageInfo.pageNum}]],
            jump: function (obj, first) {
                if (!first) {
                    window.location.href = "/notice?pageNum=" + obj.curr
                }
            }
        });
    });

    function deleteM(elem) {
        var id = $(elem).parent().prev().text();
        console.log(id);
        layui.use('layer', function () {
            var layer = layui.layer;
            $.ajax({
                url: "/message/delete",
                type: "POST",
                dataType: "json",
                data: "id=" + id,
                success: function (result) {
                    if (result.code == 0) {
                        layer.msg("删除成功");
                    } else {
                        layer.msg(result.msg);
                    }
                }
            })
        });
    };

    function read(elem) {
        var id = $(elem).parent().prev().text();
        console.log(id);
        layui.use('layer', function () {
            var layer = layui.layer;
            $.ajax({
                url: "/message/read",
                type: "POST",
                dataType: "json",
                data: "id=" + id,
                success: function (result) {
                    if (result.code == 0) {
                        $(elem).parent().prev().prev().removeClass('red-point');
                        layer.msg('标记成功');
                    } else {
                        layer.msg(result.msg);
                    }
                }
            });
        });
    }
</script>

</body>
</html>
