<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <title>个人设置</title>
    <meta name="referrer" content="never">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
    <link rel="stylesheet" th:href="@{/css/home.css}"  media="all">
    <link rel="stylesheet" th:href="@{/css/right.css}"  media="all">
    <link rel="stylesheet" th:href="@{/css/toastr.min.css}" media="all">
    <style type="text/css">
        .line-width {
            width: 450px;
            margin-left: 0;
            float: left;
        }
        .img-size {
            width: 150px;
            height: 150px;
        }
        .input-length{
            width: 50%;
        }
    </style>
</head>
<body>
<ul th:replace="common/header::copy"></ul>
<div class="container">
    <div class="main-container">
        <div class="left-container">
            <div class="layui-card">
                <div class="layui-card-header">
                    <span>编辑资料</span>
                </div>
                <div class="layui-card-body">
                    <form class="layui-form" action="">
                        <div class="input-length">
                            <div class="layui-form-item">
                                <label class="layui-form-label">昵称</label>
                                <div class="layui-input-block">
                                    <input type="text" name="name" required  lay-verify="required" autocomplete="off" class="layui-input"
                                           th:value="${user.nickname}">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">电话号码</label>
                                <div class="layui-input-block">
                                    <input type="text" name="phone" required  lay-verify="required" autocomplete="off" class="layui-input"
                                           th:value="${user.phone}">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">地址</label>
                                <div class="layui-input-block">
                                    <input type="text" name="address" required  lay-verify="required" autocomplete="off" class="layui-input"
                                           th:value="${user.address}">
                                </div>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">生日</label>
                            <div class="layui-inline">
                                <input type="text" class="layui-input" name="birth" id="test1"
                                       th:value="${#dates.format(user.birthday,'yyyy-MM-dd')}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">头像</label>
                            <div class="layui-input-block">
                                <img th:src="${user.portrait}" class="img-size" id="imgup">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" type="button" id="upload">上传头像</button>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">个性签名</label>
                            <div class="layui-input-block layui-inline line-width">
                                <input type="text" name="sign" required lay-verify="required" autocomplete="off" class="layui-input"
                                       th:value="${user.sign}">
                            </div>
                            <div class="layui-form-mid layui-word-aux">用一句话来描述下自己！</div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/toastr.min.js}"></script>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/connect.js}"></script>
<script th:inline="javascript">
    var userId = [[${user.userId}]]
    window.onload = connect(userId);
    layui.use('element', function(){
        var element = layui.element;
        element.on('nav(demo)', function(elem){
            layer.msg(elem.text());
        });
    });
    layui.use('form', function () {
        var form = layui.form;
        form.render();

        form.on('submit(formDemo)',function (data){
            console.log(JSON.stringify(data.field));
            $.ajax({
                url:'/user/setting',
                type:'post',
                dataType:'json',
                contentType: 'application/json;charset=utf-8',
                data:JSON.stringify(data.field),
                success:function(result){
                    var layer = layui.layer;
                    if(result.code == 0){
                        layer.msg('修改成功', {
                            time: 2000,
                            icon:1
                        });
                    }else{
                        layer.msg(result.msg);
                    }
                },
                error:function () {
                }
            });
            return false;
        })
    });
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#test1', //指定元素
            trigger: 'click'
        });
    });

    layui.use('upload', function(){
        var upload = layui.upload;
        //执行实例
        upload.render({
            elem: '#upload' //绑定元素
            ,url: '/user/uploadImg'
            ,accept: 'images'
            ,done: function(res){
                layui.use('layer', function(){
                    if(res.code == 0){
                        $.ajax({
                            url:'/user/updateImg',
                            type:'post',
                            dataType:'json',
                            data: "url="+res.data,
                            success:function(result){
                                var layer = layui.layer;
                                if(result.code == 0){
                                    var layer = layui.layer;
                                    layer.msg('上传成功', {
                                        time: 2000,
                                        icon:1
                                    });
                                    $('#imgup').attr('src',res.data);
                                    $('#myimg').attr('src',res.data);
                                }else{
                                    layer.msg(result.msg);
                                }
                            },
                            error:function () {
                            }
                        });
                        return false;
                    }

                });
            }
            ,error: function(){
                //请求异常回调
            }
        });
    });

</script>
</body>
</html>
