<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <title>修改密码</title>
    <meta name="referrer" content="never">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
    <link rel="stylesheet" th:href="@{/css/home.css}"  media="all">
    <link rel="stylesheet" th:href="@{/css/right.css}"  media="all">
    <link rel="stylesheet" th:href="@{/css/toastr.min.css}" media="all">
    <style type="text/css">
        .input-length{
            width: 50%;
        }
    </style>
</head>
<body>
<ul th:replace="common/header::copy"></ul>
<div class="container">
    <div class="main-container">
        <div class="left-container">
            <div class="layui-card">
                <div class="layui-card-header">
                    <span>修改密码</span>
                </div>
                <div class="layui-card-body">
                    <form class="layui-form" action="">
                        <div class="input-length">
                            <div class="layui-form-item">
                                <label class="layui-form-label">旧密码</label>
                                <div class="layui-input-block">
                                    <input type="password" name="pwd1" required  lay-verify="required" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">新密码</label>
                                <div class="layui-input-block">
                                    <input type="password" name="pwd2" required  lay-verify="required" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">确认密码</label>
                                <div class="layui-input-block">
                                    <input type="password" name="pwd3" required  lay-verify="required|confirmPass" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/toastr.min.js}"></script>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/connect.js}"></script>
<script th:src="@{/js/md5.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:inline="javascript">
    var userId = [[${user.userId}]]
    window.onload = connect(userId);
    layui.use('element', function(){
        var element = layui.element;
        element.on('nav(demo)', function(elem){
            layer.msg(elem.text());
        });
    });
    layui.use('form', function () {
        var form = layui.form;
        form.render();

        form.verify({
            confirmPass:function(value){
                if($('input[name=pwd2]').val() !== value)
                    return '两次密码输入不一致！';
            }
        });

        form.on('submit(formDemo)',function (data){
            var inPwd1 = data.field.pwd1;
            var inPwd2 = data.field.pwd2;
            var inPwd3 = data.field.pwd3;

            var salt = g_passsword_salt;
            var str1 = "" + salt.charAt(0) + salt.charAt(2) + inPwd1 + salt.charAt(5) + salt.charAt(4);
            var str2 = "" + salt.charAt(0) + salt.charAt(2) + inPwd2 + salt.charAt(5) + salt.charAt(4);

            var pwd1 = md5(str1);
            var pwd2 = md5(str2);

            $.ajax({
                url:'/user/updatePwd',
                type:'post',
                dataType:'json',
                data:"pwd1="+pwd1+"&pwd2="+pwd2,
                success:function(result){
                    var layer = layui.layer;
                    if(result.code == 0){
                        layer.msg('修改成功', {
                            icon: 1,
                            time: 2000
                        }, function () {
                            window.location.href = "/login/tologin";
                        });

                    }else{
                        layer.msg(result.msg);
                    }
                },
                error:function () {
                }
            });
            return false;
        })
    });
</script>
</body>
</html>
