<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.htw.vbbs.dao.InvitationMapper">
    <resultMap id="ResultMap" type="com.htw.vbbs.domain.Invitation">
        <id column="invitationId" property="invitationId" jdbcType="INTEGER"/>
        <result column="userId" property="userId" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
        <result column="zan" property="zan" jdbcType="INTEGER"/>
        <result column="store" property="store" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List" >
       invitationId, userId, title, content, zan, store, type, createTime, updateTime
    </sql>

    <select id="getById" resultMap="ResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from invitation
        where invitationId = #{id}
    </select>

    <insert id="insert" parameterType="com.htw.vbbs.domain.Invitation" useGeneratedKeys="true" keyProperty="invitationId" keyColumn="invitationId">
        insert into invitation (userId, title,
          content, zan,store, type, createTime, updateTime)
        values (#{userId}, #{title}, #{content},#{zan},
         #{store}, #{type}, #{createTime}, #{updateTime})
    </insert>


    <!-- 一个文章，拥有多个评论 -->
    <resultMap id="InvitationAndCommentResultMap" type="com.htw.vbbs.domain.Invitation">
        <!-- 先配置 invitation 的属性 -->
        <id column="invitationId" property="invitationId" jdbcType="INTEGER"/>
        <result column="userId" property="userId" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
        <result column="zan" property="zan" jdbcType="INTEGER"/>
        <result column="store" property="store" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="i_time" property="updateTime" jdbcType="TIMESTAMP"/>

        <!-- 再配置 commentList 集合 -->
        <collection property="commentList" ofType="com.htw.vbbs.domain.Comment">
            <id column="commentId" property="commentId" jdbcType="INTEGER"/>
            <result column="invitationId" property="invitationId" jdbcType="INTEGER"/>
            <result column="uid" property="userId" jdbcType="INTEGER"/>
            <result column="uid" property="userId" jdbcType="INTEGER"/>
            <result column="replyId" property="replyId" jdbcType="INTEGER"/>
            <result column="cont" property="content" jdbcType="VARCHAR"/>
            <result column="cTime" property="createTime" jdbcType="TIMESTAMP"/>
        </collection>
    </resultMap>

    <select id="findInviComments" resultMap="InvitationAndCommentResultMap" parameterType="java.lang.Integer" >
        select
            i.invitationId,
            i.userId,
            i.title,
            i.content,
            i.zan,
            i.store,
            i.createTime,
            i.updateTime as i_time,
            c.commentId,
            c.replyId,
            c.userId as uid,
            c.content as cont,
            c.createTime as cTime
        from invitation i, comment c
        where i.invitationId = c.invitationId
        and i.invitationId = #{id}
        ORDER BY cTime DESC ;
    </select>


    <select id="getAll" resultMap="ResultMap" parameterType="java.lang.Integer" >
        select
        invitationId, title, type ,updateTime, zan, userId
        from invitation
        <if test='_parameter != "0"'>
            where type = #{type}
        </if>
        order by updateTime desc
    </select>

    <select id="getSimpInvById" resultMap="ResultMap" parameterType="java.lang.Integer" >
        select
        invitationId, title, type ,updateTime, zan, userId
        from invitation
        where invitationId = #{id}
    </select>

    <select id="getUpdateTimeByid" resultMap="ResultMap" parameterType="java.lang.Integer" >
        select updateTime
        from invitation
        where invitationId = #{id}
    </select>

    <select id="getUserInvis" resultMap="ResultMap" parameterType="java.lang.Integer" >
        select
        invitationId, title, type ,updateTime, zan
        from invitation
        where userId = #{id}
        order by updateTime desc
    </select>

    <update id="zan" parameterType="java.lang.Integer" >
        update invitation set zan = zan +1
        where invitationId = #{invitationid}
    </update>

    <update id="cancelZan" parameterType="java.lang.Integer" >
        update invitation set zan = zan - 1
        where invitationId = #{invitationId}
    </update>

    <update id="store" parameterType="java.lang.Integer" >
        update invitation set store = store + 1
        where invitationId = #{invitationid}
    </update>

    <update id="cancelStore" parameterType="java.lang.Integer" >
        update invitation set store = store - 1
        where invitationId = #{invitationId}
    </update>

    <update id="updateTime" parameterType="com.htw.vbbs.domain.Invitation">
        update invitation
        set title = #{title}, type = #{type}, content = #{content} ,updateTime = #{updateTime}
        where invitationId = #{invitationId}
    </update>

    <delete id="deleteArt" parameterType="java.lang.Integer">
        delete
        from invitation
        where invitationId = #{id}
    </delete>
</mapper>