<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.htw.vbbs.dao.MovieDiscussMapper">
    <resultMap id="ResultMap" type="com.htw.vbbs.domain.MovieDiscuss">
        <id column="movieDisId" property="movieDisId" jdbcType="INTEGER"/>
        <result column="movieId" property="movieId" jdbcType="VARCHAR"/>
        <result column="userId" property="userId" jdbcType="INTEGER"/>
        <result column="replyId" property="replyId" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List" >
        movieDisId, movieId, userId, content, createTime, replyId
    </sql>

    <select id="getDisList" resultMap="ResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from moviediscuss
        where movieId = #{id}
        order by createTime desc
    </select>

    <select id="getById" resultMap="ResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from moviediscuss
        where movieDisId = #{id}
    </select>

    <insert id="inerstNew" parameterType="com.htw.vbbs.domain.MovieDiscuss" useGeneratedKeys="true" keyProperty="movieDisId" keyColumn="movieDisId">
      INSERT INTO moviediscuss (movieId, userId, content
        , createTime, replyId)
      VALUES (#{movieId}, #{userId}, #{content}, #{createTime},
        #{replyId});
    </insert>

</mapper>