<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.htw.vbbs.dao.MusicDiscussMapper">
    <resultMap id="ResultMap" type="com.htw.vbbs.domain.MusicDiscuss">
        <id column="musicDisId" property="musicDisId" jdbcType="INTEGER"/>
        <result column="musicId" property="musicId" jdbcType="VARCHAR"/>
        <result column="userId" property="userId" jdbcType="INTEGER"/>
        <result column="replyId" property="replyId" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List" >
        musicDisId, musicId, userId, content, createTime, replyId
    </sql>

    <select id="getById" resultMap="ResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from musicdiscuss
        where musicDisId = #{id}
        order by createTime desc
    </select>

    <select id="getMusicDisList" resultMap="ResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from musicdiscuss
        where musicId = #{id}
        order by createTime desc
    </select>

    <insert id="inerstNew" parameterType="com.htw.vbbs.domain.MusicDiscuss" useGeneratedKeys="true" keyProperty="musicDisId" keyColumn="musicDisId">
      INSERT INTO musicdiscuss (musicId, userId, content
        , createTime, replyId)
      VALUES (#{musicId}, #{userId}, #{content}, #{createTime},
        #{replyId});
    </insert>

</mapper>